/* Start General */
* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #ccc;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* End General */

/* Start Navbar */
nav ul {
  background-color: rgb(109, 59, 189);
}
nav ul > li {
  padding: 15px;
  display: inline-block;
  transition: all 0.3s ease;
  margin-left: -5px;
}
nav ul > li:not(:last-of-type):hover {
  background-color: #222;
}
nav ul > li:first-of-type {
  background-color: #222;
}
nav ul > li:last-of-type {
  float: right;
}
nav ul > li:last-of-type a .fa {
  font-size: 21px;
}
/* End Navbar */

/* Start Menue Right */
nav ul > li:last-of-type {
  position: relative;
  display: none;
}
nav ul > ol {
  position: absolute;
  top: 49px;
  right: 0;
  background: #333;
  text-align: center;
  list-style: none;
  display: none;
}
nav ul > ol > li {
  width: 100vw;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
nav ul > ol > li:hover a {
  margin: 20px;
}
nav ul > ol > li:hover {
  background: #000;
  cursor: pointer;
}
nav ul input {
  opacity: 0.7;
  padding: 5px;
  flot: right;
  display: none;
}
/* Start Menue Right */

/* Start Media Query */
@media screen and (max-width: 680px) {
  nav ul > li:not(:first-child) {
    display: none;
  }
  nav ul > li:last-of-type {
    display: block;
  }
  nav ul input {
    display: inline;
  }
}
@media screen and (min-width: 680px) {
  nav ul > ol > li {
    display: none;
  }
}
/* End Media Query */
